.Intro {

  margin-left: 0.5rem;
}


.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 17, 17);
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 2000ms linear;

}

.fade.fade-enter-done{
  opacity: 1; 
}


.card:hover {
	background-color: #9fc9f3;
  text-decoration: none;
  transition: 0.4s;
  -webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.board-row {
    display: flex;
    flex-direction: row;
  }

.bb8-fun {
  opacity: 0;
  position: relative;
  
  align-items: right;

}

